.btn_home_404{
	margin: 0 auto;
	padding: 10px 25px 10px 25px;
	border-radius:10px;
border: 2px solid rgb(4, 134, 209);
	background-color:  white;
	font-family: sans-serif;
	color:black;
	text-align: center;
	font-size:1.1rem;

}

.not_found_h1{
	font-size: 4rem;
	font-weight: bold;
}

.not_found_h2{
	font-size: 1.5rem;
	color:rgba(0, 0, 255, 0.856);
	text-align: center;
}


