@use 'reset';
@use 'vars';




	


body{
	height:100%;
	background: rgb(145,141,143);
	background: linear-gradient(90deg, rgba(145,141,143,1) 0%, rgba(148,187,233,1) 100%);
	margin:auto;
	border-right:1px black solid;
	border-left:1px black solid;
}

.card{

	border-radius: 20px;
	border: 2px solid black
}


/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
