.btn_home{
	margin: 0 auto;
	padding: 10px 25px 10px 25px;
	border-radius:10px;
border: 2px solid rgb(4, 134, 209);
	background-color:  white;
	font-family: sans-serif;
	color:black;
	width:35%;
	text-align: center;
	font-size:1.1rem;

}

.div_btn_home{
	display: flex;
	justify-content: center;
	margin: 10px;

}

.home-container{
	background-color:lightgray;
	padding: 25px;
	border-radius:30px;
width:80%;
border: 2px solid #007bff;
 }

 .btn_home_{

	&connexion{
			background-color: lightgray;

		&:hover{
			cursor: pointer;
			transform: scale(1.05);
			background-color: #007bff;
			

		}
	}

	&registration{
background-color: lightgray;

&:hover{
	cursor: pointer;
	transform: scale(1.05);
	background-color: #007bff;;
	
}

	}




 }




