.img_header
{
	width:35%
};

@media (max-width: 800px){

	.img_header{
		width:70%
	}
}

.back_start{

	font-weight: bold;
	font-size: 1.1rem;
	color:#007bff;
	margin:5px;
	text-align:center
}
	
	
	
	
