.title-machine{
text-align:center;
font-size: 2rem;
font-family: sans-serif;
}


.img_select_exercice{
	border:1px solid #007bff;

}

.btn_select_exercice{

background-color: #007bff;
color:white;
border: none;
font-size:1.2rem;
padding:10px
	
}
